# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore data files
ny_taxi_postgres_data/

# Ignore Docker container logs
*.log

# Ignore csv files
*.csv

# Ignore everything in terraform folder 
terraform/

# Ignore .json
*.json